---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Projects from "../components/Projects.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const mostRecentPost = posts
  .filter((post) => post.data.published)
  .sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  })[0];
const { slug } = mostRecentPost;
const { title, pubDate, updatedDate, heroImage } = mostRecentPost.data;
const { Content } = await mostRecentPost.render();

const projects = await getCollection("projects", ({ data }) => {
  return data.featured;
});
const featuredProjects = projects.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="intro">
    <h2>Hi there! I'm <em>Phil.</em></h2>
    <h3>
      I'm a versatile and curious software engineer, and I make <a
        href="https://tigerpajamas.com"
        target="_blank">cool web sites</a
      >.
    </h3>
    <a href="mailto:phil@giammattei.co">
      <button type="button" class="m-10">Let's talk.</button></a
    >
  </div>
  <hr class="mt-7" />

  <h2 class="mb-0">Featured Projects:</h2>
  <Projects projects={featuredProjects} />
  <a href="/projects"><h2 class="center">All Projects</h2></a>

  <hr />
  <div class="recentblog">
    <h2>Most Recent Blog Post</h2>
    <BlogPost
      title={title}
      pubDate={pubDate}
      updatedDate={updatedDate}
      heroImage={heroImage}
      showImage={false}
      slug={slug}
    >
      <Content />
    </BlogPost>
    <a href="/blog"><h2 class="center">All Blog Posts</h2></a>
  </div>
</BaseLayout>
