---
import FormattedDate from "../components/FormattedDate.astro";
const {
  title,
  pubDate,
  updatedDate,
  heroImage,
  showImage = true,
  slug = "",
} = Astro.props;

const image = heroImage || "/img/profile.jpg";
console.log(image);
---

<article>
  <div class="prose">
    <div class="title">
      {
        slug ? (
          <a href={`/blog/${slug}`}>
            <h1>{title}</h1>
          </a>
        ) : (
          <h1>{title}</h1>
        )
      }
    </div>

    <div class="date">
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
    {
      showImage && (
        <div class="hero-image">
          {image && <img width={1020} height={510} src={image} alt="" />}
        </div>
      )
    }

    <hr />
  </div>
  <div class="content">
    <slot />
  </div>
</article>
<style>
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    color: rgb(var(--gray-dark));
  }

  .content {
    text-align: left;
  }
  .title {
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 2rem;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
